<div class="container">
<h4>Evaluations</h4>
  <div class="tiles-container">

    <% if @student.evaluations.any?  %>
    <%= render 'evaluations/index' %>
  <% else %>
    <p>There are no evaluations for the student</p>
    <% end %>
  </div>

</div>

</div>

<div class="text-center">
  <h3><%= @student.name %></h3>
  <h4>Batch <%= @student.batch.number %></h4>
  <p><%= image_tag(@student.photo) %></p>
  <br/><br/><br/><br/>
<p>
  <%= link_to "Back", batches_path, class: "btn btn-default" %>
  <%= link_to "Evaluate", new_batch_student_evaluation_path(batch_id: @student.batch.id, student_id: @student.id), class: "btn btn-primary" %>
  <%= link_to "Edit", edit_batch_student_path(batch_id: @student.batch.id, id: @student.id), class: "btn btn-primary" %>
  <%= link_to "Delete student", batch_student_path(batch_id: @student.batch.id, id: @student.id), :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger" %>
</p>

</div>
</div>
</div>
</div>
