<!-- <div class="row">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Batches
      </div>
      <div class="panel-body">

        <% @batches.each do |batch| %>
        <div class="row">
          <div class="col-md-7">
            </br>
            <%= link_to"Batch #{batch.number}", batch, class: "btn btn-primary" %>
            <p>Start date: <%= batch.start_date %></p>
            <p>End date: <%= batch.end_date %></p>
          </br>
          </div>
        </div>
        <% end %>

      </div>
    </div>
    <%= link_to "Add a batch", new_batch_path, class: "btn btn-primary" %>
  </div>
</div> -->

<!-- <div class="#sidebar">
  test
</div> -->

<div class="batch-container">
  <div class="batch-align">
    <div class="row">

      <% @batches.each do |batch| %>
      <div class="batch-card">
        <div class="img-window">
          <img class="img-fluid">
            <div class="batch-title">
              <b><%= link_to"Batch #{batch.number}", batch %></b>
            </div>
        </div>
        <p class="card-text"><br/>
          <p>
            <b>Start date:</b>
            <%= batch.start_date %></p>
          <p>
            <b>End date:</b>
            <%= batch.end_date %></p>
            <p>
              <b>Students:</b>
              <%= batch.students.count %></p>
        </div>
        <% end %>
      </div>

    </div>
    <div class="text-center">
      <p>
        <%= link_to "Add a batch", new_batch_path, class: "btn btn-primary" %>
      </p>
    </div>
  </div>
</div>
